body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

form {
    margin-top: 10px;
    width: 50%;
    margin: 0 auto;
}

fieldset {
  margin: 1em auto;
  padding: 1em 4em;
  border: 3px solid black;
}


.float-left {
    margin-top: 5%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 16px 0;
    display: inline-block;
    border: 1.3px solid #333;
    box-sizing: border-box;
}

b {
    font-weight: lighter;
}

button {
    background-color: crimson;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px;
    border-radius: 12px;
    box-shadow: 3px 2px 0;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    font-weight: lighter;
}

button:hover {
  background: #333;
}

.items {
    display: flex;
    justify-content: space-between;
}

.remember {
    font-size: 12px;
}

.remember input {
  vertical-align: middle;
}

.container {
    flex-direction: row;
    width: 50%;
    margin: 0 auto;
    padding: 50px;
}

.psw a {
    padding-top: 16px;
    text-decoration: none;
    color: #000;
    font-weight: lighter;
    font-size: 12px;
}

.psw a:hover {
    color: crimson;
}

span{
    color: crimson;
}

.inscription{
    color: #000;
    text-align: center;
    padding-top: 10px;
    font-weight: lighter;
}

.inscription a{
    color: crimson;
}


/* Media query */

@media only screen and (max-width: 1430px) {
  .container {
    width: 80%;
  }

  form {
    width: 80%;
    margin: 0 1em;
  }
}

@media only screen and (max-width: 1199px) {
  .container {
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 553px) {
  .items {
  flex-direction: column;
}
 label.remember {
padding: 1em 0;
}

@media screen and (max-width: 380px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
