* {
  margin: 0;
  padding: 0:inherit;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  max-width: 1140px;
  margin: 1em auto;
}


/*/////////////////////////////pour le titre\\\\\\\\\\\\\\\\\\\*/

#titre {
  text-align: center;
  border: 3px solid black;
  margin: 1em 1em 2em 1em;
  padding: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
}

.clr {
  color: #da183b;
}


/*/////////////////////////////pour la barre de progression\\\\\\\\\\\\\\\\\\\*/

#progress-bar {
  display: flex;
  justify-content: space-around;
  transform: translateY(-0.8em);
  z-index: 1;
}

hr {
  border: 0.2em solid black;
  width: 80%;
}

.cercle {
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;
  border: 0.1em solid black;
  text-align: center;
  background-color: white;
  padding-top: 0.3em;
}

.etape-1 {
  background-color: black;
  color: white;
  font-weight: bold;
}

.bgd {
  background-color: white;
  transform: translateY(-0.2em);
}


/*//////////////////////////pour le formulaire\\\\\\\\\\\\\\\\\\\\*/

fieldset {
  margin: 1em;
  padding: 1em 3em;
  border: 3px solid black;
}

.champ2 {
  transform: translateY(1em);
}

legend {
  font-size: 1.5em;
}

input {
  width: 30em;
  height: 3em;
  border: none;
  border-bottom: 1px solid gray;
  margin-bottom: 1em;
  margin-right: 3em;
}

label {
  padding-top: 0.5em;
}

.float-left {
  float: left;
}

input[name="photo"] {
  border: none;
}

textarea {
  margin: 1em;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<mise en place des boutons*/

input[type="submit"] {
  width: 10em;
  background-color: #da183b;
  color: white;
  font-size: 0.7em;
  font-weight: bold;
  border-radius: 0.7em;
}

button {
  width: 15em;
  height: auto;
  font-size: 1em;
  padding: 0.5em 1em;
  margin: 1em;
  border-radius: 0.7em;
  background-color: #da183b;
  color: white;
}

button > a {
  color: white;
  text-decoration: none;
}

input[type="submit"]:hover, button:hover {
  background-color: black;
  box-shadow: 5px 10px 6px #999;
}

input[type="submit"]:active, button:active {
  transform: translateY(0.2em);
  box-shadow: 5px 5px 3px #666;
}

/*////////////////////////////////////////
\\\\\\\\\\\\\\\\\\\_pour l'astéisque*/

.float-none {
  float: left;
  padding: 1em;
}
