* {
  margin: 0;
  padding: 0:inherit;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

body, html {
  height: 100%;
}

#main {
  min-height: 100%;
  margin-bottom: -260px;
}

#main:after {
  display: block;
  content: "";
}

footer, #main:after {
  height: 260px;
}

p {
  font-size: 1.1em;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>mise en place de la grille*/

#gp_blocs {
  margin: 2em;
  display: grid;
  grid-template-columns: 30% 20% 20% 25%;
  grid-template-rows: repeat(6, 15em);
  grid-gap: 2em;
}

#bloc_1 {
  background-color: #da183b;
  grid-column: 1 / span 1;
  padding: 1em;
  text-align: center;
  box-shadow: 5px 10px 8px #888888;
}

#bloc_2 {
  grid-column: 2 / span 3;
  padding: 1em 2em;
  border: 1px solid gray;
  box-shadow: 5px 10px 8px #888888;
  background-color: #fff;
}

#bloc_3 {
  grid-area: 2 / 1 / 4 / 3;
  padding: 1em;
  border: 3px dotted black;
  box-shadow: 5px 10px 8px #888888;
  background-color: #fff;
}

#bloc_4 {
  grid-column: 3 / span 2;
  padding: 1em 2em;
  border: 3px solid #da183b;
  box-shadow: 5px 10px 8px #888888;
  text-align: center;
  background-color: #fff;
}

#bloc_5 {
  background-color: #da183b;
  grid-column: 3 / span 2;
  padding: 1em;
  text-align: center;
  box-shadow: 5px 10px 8px #888888;
}

#bloc_6 {
  grid-column: 1 / span 4;
  padding: 1em;
  border: 3px dashed black;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 2em 0em 2em 0em;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}

#bloc_7 {
  grid-column: 1 / span 3;
  background-color: #da183b;
  padding: 1em;
  box-shadow: 5px 10px 8px #888888;
}

#bloc_8 {
  grid-column: 4 / span 1;
  padding: 1em 2em;
  border: 3px solid #da183b;
  box-shadow: 5px 10px 8px #888888;
  text-align: center;
  background-color: #fff;
}

#bloc_9 {
  grid-column: 1 / span 4;
  padding: 1em 2em;
  border: 1px solid gray;
  box-shadow: 5px 10px 8px #888888;
  display: flex;
  flex-wrap: wrap;
  border-radius: 1em;
  background-color: #fff;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
>>>>>>>>>>>>mise en place de la titraille de cq bloc*/

.titre-bloc1, .titre-bloc2, .titre-bloc3, .titre-bloc4, .titre-bloc5, .titre-bloc6, .titre-bloc7, .titre-bloc8, .titre-bloc9 {
  color: black;
  padding-bottom: 0.5em;
  font-size: 1.8em;
}

.titre-inter-bloc1, .date-bloc1, .titre-inter-bloc5, .info-bloc5 {
  color: white;
  padding-bottom: 0.5em;
  font-size: 1.3em;
  font-weight: bold;
}

#bloc_1 .deux {
  padding-top: 1em;
}

#bloc_1 hr, #bloc_5 hr, #bloc_7 hr {
  width: 20%;
  border: 0.1em solid black;
}

#bloc_2 p {
  padding-top: 0.5em;
}

#bloc_2 .message {
  text-decoration: underline;
}

.titre-bloc3 {
  text-align: center;
  padding-top: 0.5em;
}

.text-bloc3, .text-bloc4 {
  font-size: 1.2em;
}

.text-bloc4, .text-bloc8 {
color: white;
}

.fond-noir {
  background-color: black;
  padding: 0.5em;
}

.info-bloc5 {
  padding-bottom: 1em;
}

.titre-bloc6 {
  padding-left: 1em;
}

.tx-udl {
  text-decoration: underline;
  font-weight: bold;
}

.list-gche {
  flex: 1 1 auto;
}

.list-dte {
  flex: 1 1 auto;
}

.list-competences {
  flex: 1 1 auto;
}

.titraille-bloc7 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.text-bloc7{
  text-align: center;
}

#bloc_7 .un {
  padding-top: 2em;
}

#bloc_7 a {
  color: white;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<mise en place des boutons*/

#bloc_8 button {
  padding: 0.5em 1em;
  margin: 1em;
  border-radius: 0.7em;
  background-color: #da183b;
  color: white;
}

.btn-candidat {
  float: right;
  width: 15em;
  height: auto;
  padding: 1em;
  margin-right: 8em;
  margin-bottom: 5em;
  border-radius: 0.7em;
  background-color: #da183b;
}

.btn-candidat a {
  color: white;
  font-size: 2em;
  text-decoration: none;
}

#bloc_8 button:hover, .btn-candidat:hover{
  background-color: black;
  box-shadow: 5px 10px 6px #999;
}

#bloc_8 button:active, .btn-candidat:active {
    transform: translateY(0.2em);
    box-shadow: 5px 5px 3px #666;
}
